/* Show title of unread tabs with red and italic font */
/*
.tab.unread .label {
  color: red !important;
  font-style: italic !important;
  background-color: #FFDDDD;
}
*/

.tab {
  height: 28px;
      border-right-style: solid; /* Стиль линии */
    border-right-width: 1px;  /* Толщина линии */
  border-right-color: #888 /* #DDD; */
}

.tab.active {
  background-color: #DDDDDD;
}


/* Hide new-tab button */
.newtab-button-box {
  display: none;
}
#tabbar {
  bottom: 0 !important; /* Eliminate dead space on bottom */
}

.tab .closebox {
  opacity: 0.2;
}

.tab:hover {
  background: #E7E7E7 !important;
  opacity: 1;
}

/* Reduce high CPU usage with throbber*/
/*.tab.loading:not(.collapsed) .throbber::before,
:root.blocking-throbber #blocking-screen .throbber::before {
  animation: throbber 1s frames(2) infinite;
}

.throbber::before {
  box-shadow: none;
  border-radius: 0;
  border-width: 3px
}

@keyframes throbber {
  from { transform: translateX(-6px) }
}
*/

.tab.loading:not(.collapsed) .throbber::before,
:root.blocking-throbber #blocking-screen .throbber::before {
  animation: none;
}

.throbber::before {
  display: none;
}

@keyframes throbber {
  from { transform: translateX(-6px) }
}

/* Add private browsing indicator per tab */
/*
.tab.private-browsing .label:before {
  content: "🕶";
}
*/
